@model IEnumerable<SanphamIndexModel>

<div class="d-flex flex-row justify-content-between mb-3">
    <h2>Sản phẩm</h2>
    <div>
        <a href="@Url.Action("Create")" class="btn btn-primary"><i class="bi bi-plus-circle me-2"></i>Thêm sản phẩm</a>
    </div>
</div>

<div class="card">
    
    <div class="card-body">
        <!-- Begin Search Bar -->
        <header class="header d-flex align-items-center justify-content-between ps-0" style="box-shadow: none;">
            <div class="card-title">Danh sách sản phẩm</div>
            <div class="search-bar" style="z-index: 0; background: none; position: inherit; visibility: visible; opacity: 1; box-shadow: none">
                <form class="search-form d-flex align-items-center" method="POST" action="@Url.Action("Search", "SanPham")">
                    <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                    <button type="submit" title="Search">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
        </header><!-- End Search Bar -->
        <table class="table table-hover bg-white align-middle">
            <thead>
                <tr class="text-center">
                    <th scope="col">
                        STT
                    </th>
                    <th scope="col">
                        Hình ảnh
                    </th>
                    <th scope="col">
                        Tên
                    </th>
                    <th scope="col">
                        Thương hiệu
                    </th>
                    <th>
                        Tác vụ
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr class="text-center" id="@item.ID_sanpham">
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.ID_sanpham)
                    </td>
                    <td style="width: 100px; height: 100px;">
                        <!--<img src="" class="img-thumbnail">-->
                        @item.Hinhanh
                    </td>
                    <td>
                       @item.Ten_Dienthoai
                    </td>
                    <td>
                        @item.Tenthuonghieu
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Detail" asp-route-id="@item.ID_sanpham">
                            <i class="fas fa-bars"></i> Detail
                        </a>|
                        @*<button class="btn btn-danger"  onclick="delete_iphone('@item.ID_sanpham')">Delete</button>|*@
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID_sanpham">
                            <i class="fas fa-bars"></i> Delete
                        </a>|
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ID_sanpham">
                            <i class="fas fa-bars"></i> Edit
                        </a>
                    </td>
                </tr>
            }

        </table>
        @*<nav class="d-flex flex-row justify-content-end" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (var i = 1; i <= ViewBag.pageCount; i++)
                {
                    <li class="page-item">
                        <a class="page-link @getActivePage(i)"
                       href="@Url.Action("Index", "SanPham", new { page = i})">
                            @i
                        </a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>*@
    </div>
</div>




